C#/C#_API_Tool/MeizhouAPI/KIOSK.Integration.New/Code/HCIS_WSDL/HCISWsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPDFReportList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accession_number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPDFReportListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdf_urls" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DownloadComplete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pdf_urls" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadCompleteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetPDFReportListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPDFReportList" />
  </wsdl:message>
  <wsdl:message name="GetPDFReportListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPDFReportListResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadCompleteSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadComplete" />
  </wsdl:message>
  <wsdl:message name="DownloadCompleteSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadCompleteResponse" />
  </wsdl:message>
  <wsdl:portType name="RPTServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPDFReportList">
      <wsdl:input message="tns:GetPDFReportListSoapIn" />
      <wsdl:output message="tns:GetPDFReportListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadComplete">
      <wsdl:input message="tns:DownloadCompleteSoapIn" />
      <wsdl:output message="tns:DownloadCompleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RPTServiceSoap" type="tns:RPTServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPDFReportList">
      <soap:operation soapAction="http://tempuri.org/GetPDFReportList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadComplete">
      <soap:operation soapAction="http://tempuri.org/DownloadComplete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RPTServiceSoap12" type="tns:RPTServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPDFReportList">
      <soap12:operation soapAction="http://tempuri.org/GetPDFReportList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadComplete">
      <soap12:operation soapAction="http://tempuri.org/DownloadComplete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RPTService">
    <wsdl:port name="RPTServiceSoap" binding="tns:RPTServiceSoap">
      <soap:address location="http://localhost:3914/RPTService.asmx" />
    </wsdl:port>
    <wsdl:port name="RPTServiceSoap12" binding="tns:RPTServiceSoap12">
      <soap12:address location="http://localhost:3914/RPTService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>