C#_API_Tool/MeizhouAPI/KIOSK.Integration.New/Code/KIOSK.Integration.WSProxy/Web References/NotifyService/NotifyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://carestream.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://carestream.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://carestream.org/">
      <s:element name="NotifyExamInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exam" type="tns:ExamInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExamInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CreateDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatientID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccessionNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyInstanceUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameCN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameEN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Birthday" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModalityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PatientType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="VisitID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestDepartment" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegisterDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExamDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubmitDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApproveDT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PDFReportURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StudyStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutHospitalNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InHospitalNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhysicalNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExamName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExamBodyPart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional0" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional5" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional6" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional7" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional8" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Optional9" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyExamInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotifyExamInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyReportFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="exam" type="tns:ExamInfo" />
            <s:element minOccurs="0" maxOccurs="1" name="reportPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyReportFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotifyReportFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPrintMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAccessionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStudyInstanceUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nMode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPrintModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPrintModeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyFilmInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyFilmInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotifyFilmInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyReportInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accessionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studyInstanceUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reportStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reportFileName" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyReportInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotifyReportInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NotifyExamInfoSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyExamInfo" />
  </wsdl:message>
  <wsdl:message name="NotifyExamInfoSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyExamInfoResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyReportFileSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyReportFile" />
  </wsdl:message>
  <wsdl:message name="NotifyReportFileSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyReportFileResponse" />
  </wsdl:message>
  <wsdl:message name="SetPrintModeSoapIn">
    <wsdl:part name="parameters" element="tns:SetPrintMode" />
  </wsdl:message>
  <wsdl:message name="SetPrintModeSoapOut">
    <wsdl:part name="parameters" element="tns:SetPrintModeResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyFilmInfoSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyFilmInfo" />
  </wsdl:message>
  <wsdl:message name="NotifyFilmInfoSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyFilmInfoResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyReportInfoSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyReportInfo" />
  </wsdl:message>
  <wsdl:message name="NotifyReportInfoSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyReportInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="NotifyServiceSoap">
    <wsdl:operation name="NotifyExamInfo">
      <wsdl:input message="tns:NotifyExamInfoSoapIn" />
      <wsdl:output message="tns:NotifyExamInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyReportFile">
      <wsdl:input message="tns:NotifyReportFileSoapIn" />
      <wsdl:output message="tns:NotifyReportFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPrintMode">
      <wsdl:input message="tns:SetPrintModeSoapIn" />
      <wsdl:output message="tns:SetPrintModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyFilmInfo">
      <wsdl:input message="tns:NotifyFilmInfoSoapIn" />
      <wsdl:output message="tns:NotifyFilmInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyReportInfo">
      <wsdl:input message="tns:NotifyReportInfoSoapIn" />
      <wsdl:output message="tns:NotifyReportInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotifyServiceSoap" type="tns:NotifyServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyExamInfo">
      <soap:operation soapAction="http://carestream.org/NotifyExamInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyReportFile">
      <soap:operation soapAction="http://carestream.org/NotifyReportFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrintMode">
      <soap:operation soapAction="http://carestream.org/SetPrintMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFilmInfo">
      <soap:operation soapAction="http://carestream.org/NotifyFilmInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyReportInfo">
      <soap:operation soapAction="http://carestream.org/NotifyReportInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotifyServiceSoap12" type="tns:NotifyServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NotifyExamInfo">
      <soap12:operation soapAction="http://carestream.org/NotifyExamInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyReportFile">
      <soap12:operation soapAction="http://carestream.org/NotifyReportFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrintMode">
      <soap12:operation soapAction="http://carestream.org/SetPrintMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyFilmInfo">
      <soap12:operation soapAction="http://carestream.org/NotifyFilmInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyReportInfo">
      <soap12:operation soapAction="http://carestream.org/NotifyReportInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotifyService">
    <wsdl:port name="NotifyServiceSoap" binding="tns:NotifyServiceSoap">
      <soap:address location="http://localhost:8088/NotifyService.asmx" />
    </wsdl:port>
    <wsdl:port name="NotifyServiceSoap12" binding="tns:NotifyServiceSoap12">
      <soap12:address location="http://localhost:8088/NotifyService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>