C#/C#_API_Tool/MeizhouAPI/KIOSK.Integration.New/Code/KIOSK.Integration.WSProxy/Web References/PS1000/PrintService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPatientInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strCardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strReturnType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPatientInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="strReturnValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPatientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPrintMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strAccessionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStudyInstanceUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nMode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetPrintModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetPrintModeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyReportInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patientName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accessionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studyInstanceUID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reportStatus" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reportFileName" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyReportInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NotifyReportInfoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrintServerStatus">
        <s:complexType />
      </s:element>
      <s:element name="GetPrintServerStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPrintServerStatusResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="error_code" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="error_description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePrintTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patient_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patient_id_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePrintTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatePrintTaskResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="patient_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="print_task_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="warning_code" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="warning_description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePrintTask2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patient_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="patient_id_type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePrintTask2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreatePrintTask2Result" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="patient_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="print_task_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="warning_code" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="warning_description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extensions" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Print">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="print_task_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PrintResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="error_code" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="error_description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrintTaskStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="print_task_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrintTaskStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPrintTaskStatusResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="task_status" type="tns:PrintTask" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PrintTask">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PrintTaskId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PrintStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalReports" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalImages" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ReportsLeft" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ImagesLeft" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeNeeded" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPatientInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientInfo" />
  </wsdl:message>
  <wsdl:message name="GetPatientInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetPrintModeSoapIn">
    <wsdl:part name="parameters" element="tns:SetPrintMode" />
  </wsdl:message>
  <wsdl:message name="SetPrintModeSoapOut">
    <wsdl:part name="parameters" element="tns:SetPrintModeResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyReportInfoSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyReportInfo" />
  </wsdl:message>
  <wsdl:message name="NotifyReportInfoSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyReportInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrintServerStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrintServerStatus" />
  </wsdl:message>
  <wsdl:message name="GetPrintServerStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrintServerStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePrintTaskSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePrintTask" />
  </wsdl:message>
  <wsdl:message name="CreatePrintTaskSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePrintTaskResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePrintTask2SoapIn">
    <wsdl:part name="parameters" element="tns:CreatePrintTask2" />
  </wsdl:message>
  <wsdl:message name="CreatePrintTask2SoapOut">
    <wsdl:part name="parameters" element="tns:CreatePrintTask2Response" />
  </wsdl:message>
  <wsdl:message name="PrintSoapIn">
    <wsdl:part name="parameters" element="tns:Print" />
  </wsdl:message>
  <wsdl:message name="PrintSoapOut">
    <wsdl:part name="parameters" element="tns:PrintResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrintTaskStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrintTaskStatus" />
  </wsdl:message>
  <wsdl:message name="GetPrintTaskStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrintTaskStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="PrintServiceSoap">
    <wsdl:operation name="GetPatientInfo">
      <wsdl:input message="tns:GetPatientInfoSoapIn" />
      <wsdl:output message="tns:GetPatientInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetPrintMode">
      <wsdl:input message="tns:SetPrintModeSoapIn" />
      <wsdl:output message="tns:SetPrintModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyReportInfo">
      <wsdl:input message="tns:NotifyReportInfoSoapIn" />
      <wsdl:output message="tns:NotifyReportInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintServerStatus">
      <wsdl:input message="tns:GetPrintServerStatusSoapIn" />
      <wsdl:output message="tns:GetPrintServerStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePrintTask">
      <wsdl:input message="tns:CreatePrintTaskSoapIn" />
      <wsdl:output message="tns:CreatePrintTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePrintTask2">
      <wsdl:input message="tns:CreatePrintTask2SoapIn" />
      <wsdl:output message="tns:CreatePrintTask2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Print">
      <wsdl:input message="tns:PrintSoapIn" />
      <wsdl:output message="tns:PrintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrintTaskStatus">
      <wsdl:input message="tns:GetPrintTaskStatusSoapIn" />
      <wsdl:output message="tns:GetPrintTaskStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrintServiceSoap" type="tns:PrintServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatientInfo">
      <soap:operation soapAction="http://tempuri.org/GetPatientInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrintMode">
      <soap:operation soapAction="http://tempuri.org/SetPrintMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyReportInfo">
      <soap:operation soapAction="http://tempuri.org/NotifyReportInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintServerStatus">
      <soap:operation soapAction="http://tempuri.org/GetPrintServerStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePrintTask">
      <soap:operation soapAction="http://tempuri.org/CreatePrintTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePrintTask2">
      <soap:operation soapAction="http://tempuri.org/CreatePrintTask2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Print">
      <soap:operation soapAction="http://tempuri.org/Print" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintTaskStatus">
      <soap:operation soapAction="http://tempuri.org/GetPrintTaskStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PrintServiceSoap12" type="tns:PrintServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPatientInfo">
      <soap12:operation soapAction="http://tempuri.org/GetPatientInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPrintMode">
      <soap12:operation soapAction="http://tempuri.org/SetPrintMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyReportInfo">
      <soap12:operation soapAction="http://tempuri.org/NotifyReportInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintServerStatus">
      <soap12:operation soapAction="http://tempuri.org/GetPrintServerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePrintTask">
      <soap12:operation soapAction="http://tempuri.org/CreatePrintTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePrintTask2">
      <soap12:operation soapAction="http://tempuri.org/CreatePrintTask2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Print">
      <soap12:operation soapAction="http://tempuri.org/Print" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrintTaskStatus">
      <soap12:operation soapAction="http://tempuri.org/GetPrintTaskStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrintService">
    <wsdl:port name="PrintServiceSoap" binding="tns:PrintServiceSoap">
      <soap:address location="http://150.245.179.40/PrintServer/PrintService.asmx" />
    </wsdl:port>
    <wsdl:port name="PrintServiceSoap12" binding="tns:PrintServiceSoap12">
      <soap12:address location="http://150.245.179.40/PrintServer/PrintService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>